{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Cancellation & Returns</h2>
        </header>
        <article>
            <h5>Cancellation Policy</h5>
            <p>You can cancel your order before it has been shipped. Once shipped, it cannot be cancelled.</p>
            <h5>Return Policy</h5>
            <p>If you are not satisfied with your purchase, you can return it within 30 days for a full refund or exchange.</p>
        </article>
    </div>
</section>
{% endblock %}
