{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Press Room</h2>
        </header>
        <article>
            <p>Welcome to the SmartShop Press Room. Here you will find our latest news and press releases.</p>
            <ul>
                <li><strong>Nov 2025:</strong> SmartShop launches new mobile app.</li>
                <li><strong>Oct 2025:</strong> SmartShop reaches 1 million customers.</li>
            </ul>
            <p>For media inquiries, please contact press@smartshop.com.</p>
        </article>
    </div>
</section>
{% endblock %}
