{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Security</h2>
        </header>
        <article>
            <p>Your security is our top priority.</p>
            <h5>Secure Transactions</h5>
            <p>We use industry-standard SSL encryption to protect your personal and financial information during transmission.</p>
            <h5>Account Protection</h5>
            <p>We recommend using a strong password and enabling two-factor authentication (if available) to protect your account.</p>
        </article>
    </div>
</section>
{% endblock %}
